html {
    direction: ltr;
}

.wrapper {
    display:flex;
    flex-direction: column;
}

#page-header {display:flex;
    justify-content: space-between;
    background-color:lightgrey;
}

#mainlogo {justify-content: flex-start;
    background-color:lightgrey;
}

#search {
    background-color: white;
    border: 10px solid #456879;
}

nav {display: flex;align-content: space-between;
}
nav a {justify-content:flex-start;
    background-color: aliceblue;
    border: 1px solid black;
}





#daily {display:flex;flex-direction: row;justify-content:space-around;align-content:flex-start;border: 1px solid #121212;}

#frank {
}

#sunnypic {margin-top: 30px;
    background-color:lightblue;
    margin-left: -500px;
    border: 5px solid #121212;
    padding: 15px;
}
#high{}
#low{}
table,th,td {font-size: 150%;
    border: 6px solid black;
    background-color:#35E8E1;
    text-align: center;
}

