html {
    direction: ltr;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgrey;
    width: 100%;
}

#mainlogo {
    width: 30%;
    height: 30%
}

#search {width: 800px;
    padding: 10px;font-size: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

nav a {
    justify-content: space-between;
    background-color: aliceblue;
    border: 1px solid black;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 34px;
    padding: 25px;
    width: 100%;
}

.daily {
    display: flex;
    justify-content: space-around;
    border: 1px solid #121212;
}

.daily img {
    width: 30%;
    height: 30%
}
#franklin{font-size:44px;}
.daily p{font-size:44px;}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main table {
    border: 6px solid black;
    background-color: #35E8E1;
    text-align: center;
    width: 100%;
}

.main th {
    font-size: 25px;
}

.main td {
    font-size: 25px;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conditions1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.conditions2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.conditions h2 {
    background-color: azure;
    padding: 70px;
    border: 10px solid;
    font-size: 20px;
    text-align: center;
}

.conditions p {
    font-family: sans-serif;
}

.wireframes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
}

.wireframes img {
    height: 300px;
}

footer {
    display: flex;
}