wrapper{

}
.header{display: flex;width:100%;justify-content: space-between;
  
    
}
#search{align-items: flex-end; }
h1{font-size: 80px;}
p{font-size:55px;}
nav{background-color: aliceblue;text-decoration: none;
    
}
.section1 image{display: flex;flex-direction: row;background-color: antiquewhite;
    justify-content: space-between;}
nav a{text-decoration: none;font-size: 42px;
    
}

.section2{display: flex;flex-direction: column;background-color: lightblue; text-align: center}


.section3{display: flex;flex-direction: row;background-color: antiquewhite;}
nav a{text-decoration: none;font-size: 4
    2px;
    
}
